.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
  color: #000;
  background-color: #1f1f1f;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  background-color: #f2f2f2;
  display: flex;
}

.logo {
  width: 183px;
  height: 32px;
}

.logo_place_header  {
  /* background-image: url("../images/logo_place_header.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;   если делать logo фоном блока*/ 
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 4;
}

.logo_img_place_header {

}

.header__title {
  width: 730px;
  align-self: center;
  margin: 0 64px 0;

  z-index: 2;
}

.header__h1 {
  line-height:  96px;
  font-size: 102px;
  font-weight: bolder;
    margin: 0;
}

.header__subtitle {
  width: 388px;
  position: absolute;
  bottom: 30px;
  left: 64px;
  z-index: 3;
}

.header__h2 {
  line-height:  25px;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}

.header__p {
  margin: 0;
}

.header__link {
  text-decoration: none;
  margin: 0;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  background-image: url("../images/header-image.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  width: 568px;
  height: 568px;
  position: absolute;
  bottom: 64px;
  right: 0;
  background: #2f80ed;
}

/* и элемента с модификатором вида ключ-значение 
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
*/
