.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
  color: #000;
  /* background-color: #1f1f1f; */
}

/* Шапка сайта, блок header */
.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  background-color: #f2f2f2;
  display: flex;
  position: relative;
}

.logo {
  width: 183px;
  height: 32px;
}

.logo_place_header  {
  /* background-image: url("../images/logo_place_header.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;   если делать logo фоном блока*/ 
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 4;
}

.header__title {
  width: 730px;
  margin: auto 64px auto;
  z-index: 2;
  line-height: 96px;
  font-size: 102px;
  font-weight: bolder;
}


.header__subtitle {
  width: 388px;
  position: absolute;
  bottom: 30px;
  left: 64px;
  z-index: 3;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.header__link {
  color:  #2f80ed;
  text-decoration: none;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  background-image: url("../images/header-image.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.header__square-pic {
  width: 568px;
  height: 568px;
  position: absolute;
  bottom: 64px;
  right: 0;
  background: #2f80ed;
}

/* Основное содержимое страницы, блок content */
.content {
  border: 1px solid #000;
}

/* Секция, блок description */
.description {
  border: 1px solid #550;
}

.two-columns {
  margin: 100px auto 0;
  width: 80%;
  min-height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.two-columns__brif {
  width: 175px;
}

.two-columns__brif h3 {
  color:  #2f80ed;
  line-height: 1.2em;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  margin: 0;
  margin-bottom: 30px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__paragraph:last-child {
  margin-bottom: 0;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
  padding: 30px auto;
}

/* Секция, блок digits */
.digits {
  border: 1px solid #f0f;
}

.section-title {
  border: 1px solid #f0f;
  display: flex;
  width: 60%;
  margin: 100px auto 20px;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  justify-content: center;
}

.section-subtitle {
  border: 1px solid #f0f;
  display: flex;
  justify-content: center;
  width: 60%;
  margin: 0 auto;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  border: 1px solid #f0f;
  display: flex;
  width: 1100px;
  margin: 0 auto 100px;
}

.table__cell {
  border: 1px solid #f0f;
  width: 250px;
}

.table__heading {
  border: 1px solid #f0f;
  margin-bottom: 20px;
}

/* Секция, блок feynman */
.feynman {
  border: 1px solid #56f;
}

/* Секция, блок kaufman */
.kaufman {
  border: 1px solid #4af;
}

/* Подвал сайта, блок footer */
.footer {
  border: 1px solid #0a3;
}


/* и элемента с модификатором вида ключ-значение 
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
*/
